HELP.md

### Build Artifacts

target/
build/
out/
!mvn/wrapper/maven-wrapper.jar

### STS

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA

.idea/
*.iws
*.iml
*.ipr

### NetBeans

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code

.vscode/

### OS & Miscellaneous

.DS_Store
Thumbs.db
logs/
*.log

### Compiled Java Files

*.class

### Maven & Gradle

.mvn/
.gradle/

### Docker / Runtime Volumes

volume-data/
docker/kafka_data/
influxdb_data/

### Runtime / DB Files

*.sock
*.pid
*.err
*.cnf

### Environment Files

.env
.env.*

### Docker Overrides

docker-compose.override.yml
